.main-dashboard {
  margin-left: 270px;
  text-align: left;
  width: 78%;
  z-index: 0;
  transition: all 200ms ease 0s;
}

.main-dashboard.active {
  margin: 0 auto;
  text-align: left;
  width: 78%;
  transition: all 200ms ease 0s;
}

.close-btn{
  width: 36px;
  position: relative;
  top: 30px;
}

.navbar {
  background-color: transparent;
  height: 10px;
  display: flex;
  font-size: 24px;
  justify-content: flex-start;
  align-items: center;
  color: #eb414f;
}

.dashboard-text{
  top: 30px;
  position: relative;
}

.greet-user {
  font-size: 24px;
  font-weight: bold;
}

.rect {
  background-color: #eb414f;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.2;
  padding: 20px;
  color: #fff;
  text-align: left;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.make-bold {
  font-size: 20px;
  font-weight: bolder;
}

.data-product {
  text-align: left;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  margin: 30px 0;
  box-shadow: 0px 1px 2px 0px rgba(56, 42, 42, 0.75);
}

.today {
  font-weight: bold;
  font-size: 20px;
}

.today-date {
  font-size: 14px;
}

table {
  margin-top: 30px;
}

span {
  margin-left: 0;
}

.nav-menu {
  display: flex;
  position: fixed;
  width: 230px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -6px 0px 17px 0px rgba(0, 0, 0, 0.75);
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 999;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

nav ul li {
  list-style: none;
}

ul.nav-menu-items{
  margin-left: -15px;
}

.user-profil {
  display: flex;
  margin: 0 0 15px 0;
  padding: 0;
}

.user-pic {
  display: inline-block;
  width: 48px;
}

.user-info {
  margin: 0px 10px;
  padding: 0;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.user-email{
  font-size: 14px;
}


.logout a{
  font-size: 14px;
  color: #eb414f;
}

.logout a:hover{
  color: #b93540;
  transition: all 200ms ease 0s;
  cursor: pointer;
  text-decoration: none;
}

.navbar-toggle {
  margin-bottom: 50px;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-weight: bold;
}


.icon-title {
  margin-left: 10px;
  color: #000;
}

.icon-title:hover {
  color: #eb414f;
  transition: all 200ms ease 0s;
}

ul li a:hover {
  text-decoration: none;
}
